@import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Readex Pro';
    src: url('fonts/ReadexPro-Regular.ttf')
}

@font-face {
    font-family: 'Mate';
    src: url('fonts/Mate-Regular.ttf')
}